#registration_form_container
  %h2 Sign up
  .tab_content
    %aside
      %p
        = link_to "Log in", "#", :class => "gotoLogin"
    #main_container
      = form_for(@user, :remote => true,  :html => {:id => "registration_form"}) do |f|
        %p
          = f.label :email
          %span#user_email_validation.inline_validation_error
          %br/
          = f.text_field :email
        %p
          = f.label :password
          %span#user_password_validation.inline_validation_error
          %br/
          = f.password_field :password
        %p
          = f.label :password_confirmation
          %span#user_password_confirmation_validation.inline_validation_error
          %br/
          = f.password_field :password_confirmation
        %p= f.submit "Sign up", :id => "registration_submit_button"
